*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
}

::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

:root{
    --border-radius: 5px;
    --primary-background: rgb(35, 38, 51);
    --font-style: 'Roboto', sans-serif;
    --common-border: 1px solid rgb(95, 91, 91);
    --secondary-border: 1px solid rgb(95, 93, 93);
    --secondary-color: #586175;
    --red-color: #f2116fc7;
    --primary-red: #f3287d;
    --active-color: #308bd6;
    --recover-color: rgb(0, 143, 0);
    --secondary-recover: rgb(0, 187, 0);
    --dead-color: rgb(81, 81, 82);
    --seconday-dead: rgb(99, 99, 99);
    --state-color: rgb(177, 174, 174);
}
main .secondary-death{
    color: var(--seconday-dead);
}
main .secondary-recover{
    color: var(--secondary-recover);
}
main .dead{
    color: var(--dead-color);
}
main .recover{
    color: var(--recover-color);
}
main .active{
    color: var(--active-color);
}
main .confirmed{
    color: var(--red-color);
}
main .primary-red{
     color: var(--primary-red);
}
main .last-update{
    font-weight: bold;
    color: var(--secondary-color);
    font-size: smaller;
}
body{
    background-color: var(--primary-background);
}

/*========Navigatio-start=============*/

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  20px;
    /* border-bottom: var(--common-border); */
}
nav .clock{
    display: inline-flex;
}
nav h5{
    font-size: 1.2rem;
    display: inline-block;
    font-weight: 300;
}
nav img{
    width: 15px;
}
nav .clock{
    font-size: 1.5rem;
}


/*========Navigatio-end=============*/

/*========Main-start=============*/
  main{
      border-radius: var(--border-radius);
      margin: 0.5% 2%;
      border: var(--common-border);
      display: grid;
      grid-template-columns: repeat(2, 40% 60%);
  }

  main .records{
    border-right: var(--common-border);
  }
  main .show-data{
      padding: 10px;
  }

  main .record-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      margin: 10px 0;
  }
  main .record-box{
      border: 1px solid hsl(240, 23%, 15%);
      border-radius: var(--border-radius);
      text-align: center;
      height: 100px;
      padding: 15px 0 0 0;
      background-color: hsl(240, 30%, 24%);
  }
  main .record-box span{
      display: block;
      
  }
  main .box-heading{
      font-size: 0.9rem;
      font-weight: 500;
  }


  
/*========Main-end=============*/

/*========Table-start=============*/
main .state-table{
    border: var(--secondary-border);
    margin-top: 10px;
    border-radius: 5px;
    /* overflow-y: scroll; */
    overflow-x: scroll;
    height: 78vh;
}

main table tr th{
 padding: 4px;
 font-size: 0.9rem;
 font-weight: 500;
 color: var(--secondary-color);
 border: 1px solid hsl(240, 20%, 27%);
}
main table tr td{
    padding: 4px;
    font-weight: 500;
    border: 1px solid hsl(240, 20%, 27%);
    font-size: 0.8rem;
}

main table .tone{
    width: 100px;
  
}
main table .ttwo, .tthree, .tfour, .tfive, .tsix{
    width: 100px;
}

main #tips{
    margin: 10px;
}

.tips-container{
    width: 100%;
    text-align: left !important;
    height: 250px;
    /* overflow-y: scroll; */
    border-radius: 5px;
}
.tips-container ul li{
    list-style-type: none;
    margin: 10px 0px 0 15px;
}

/*==========media queries================*/

@media(max-width: 992px){
    table{
        width: 100%;
    }
    main{
        padding: 30px 0;
        border-radius: var(--border-radius);
        margin: 0.5% 2%;
        border: var(--common-border);
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    main .state-table{
        border: var(--secondary-border);
        margin-top: 10px;
        border-radius: 5px;
        overflow-x: scroll;
        height: 78vh;
    }
    main table tr th{
        padding: 8px;
        font-weight: 500;
        color: var(--secondary-color)
    }
    main table .tone{
        width: 100px;
    }
    main table .ttwo, .tthree, .tfour, .tfive, .tsix{
        width: 100px;
    }
}
@media(max-width: 580px){
    main table .tone{
        width: 50px;
        font-size: smaller;
    }
    main table .ttwo, .tthree, .tfour, .tfive, .tsix{
        width: 50px;
        font-size: smaller;
    }
    main .state-table{
        
        border: var(--secondary-border);
        margin-top: 10px;
        border-radius: 5px;
        overflow-x: scroll;
        height: 78vh;
    }
}
@media(max-width: 500px){
    main table .tone{
        width: 50px;
        font-size: smaller;
    }
    main table .ttwo, .tthree, .tfour, .tfive, .tsix{
        width: 50px;
        font-size: smaller;
    }
    main .state-table{
        
        border: var(--secondary-border);
        margin-top: 10px;
        border-radius: 5px;
        overflow-x: scroll;
        height: 78vh;
    }
}